<a href="https://colab.research.google.com/github/Jiraporn-klobrat/multivariate-/blob/main/Chapter_5_Factor_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.datacamp.com/community/tutorials/introduction-factor-analysis

Assumptions:

In [12]:
import pandas as pd

https://vincentarelbundock.github.io/Rdatasets/datasets.html

In [13]:
BFI_data = pd.read_csv('/content/bfi.csv')      # นำเข้าไฟล์ csv หรือแปะลิ้งเส้นทางข้อมูลที่ต้องการ
BFI_data.head()

   Unnamed: 0   A1   A2   A3   A4   A5  ...   O3   O4   O5  gender  education  age
0       61617  2.0  4.0  3.0  4.0  4.0  ...  3.0  4.0  3.0       1        NaN   16
1       61618  2.0  4.0  5.0  2.0  5.0  ...  4.0  3.0  3.0       2        NaN   18
2       61620  5.0  4.0  5.0  4.0  4.0  ...  5.0  5.0  2.0       2        NaN   17
3       61621  4.0  4.0  6.0  5.0  5.0  ...  4.0  3.0  5.0       2        NaN   17
4       61622  2.0  3.0  3.0  4.0  5.0  ...  4.0  3.0  3.0       1        NaN   17

[5 rows x 29 columns]

## Factor Analysis'

## Assumptions:

ในข้อมูล multivariate ที่มีตัวแปร observe variables จำนวน n ตัว

มีตัวแปร Factors (Latent Variables) จำนวน k ตัว ที่สามารถอธิบายข้อมูลทั้งหมดได้

โดย k < n

รูป

### Assumptions ในการทำ Factor Analysis : 

* There are no outliers in data. ห้ามมี outliers ในข้อมูลของเรา
* Sample size should be greater than the factor. จำนวน data ต้องมากกว่า Factor
* There should not be perfect **multicollinearity**.  ต้องไม่มี multicollinearity เพราะค่าจะเป็น1 กราฟเป็นเส้นตรง
* There should not be **homoscedasticity** between the variable .

# การทำ Factor Analysis

In [14]:
# Import required libraries
from factor_analyzer import FactorAnalyzer #นำเข้า,ใช้ทำ FactorAnalyzer 
import matplotlib.pyplot as plt # plot กราฟ
# ถ้า error นำคำที่ระบุว่าทำไม error ไปค้นหา

### แก้ error ``ModuleNotFoundError: No module named 'factor_analyzer'``โดย 

https://stackoverflow.com/questions/47973216/cannot-import-factoranalyzer-from-module-factor-analyzer-0-2-2/58283301

## วิธี install package อื่นๆ

In [15]:
!pip install factor_analyzer 
import matplotlib.pyplot as plt

Requirement already satisfied: factor_analyzer in /usr/local/lib/python3.7/dist-packages (0.3.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from factor_analyzer) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from factor_analyzer) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from factor_analyzer) (1.1.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from factor_analyzer) (0.22.2.post1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->factor_analyzer) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->factor_analyzer) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->factor_analyzer) (1.0.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->factor_analyzer) (1.15.0)

In [16]:
from factor_analyzer import FactorAnalyzer 
import matplotlib.pyplot as plt # = from matplotlib import pyplot as plt  เหมือนกัน

## Quiz 5 เลือกข้อมูลมาเฉพาะ a1,a2,a3,...,o3,o4,o5 ด้วยคำสั่ง .iloc[]

In [17]:
BFI_data.shape

(2800, 29)

In [ ]:
BFI_data_dropped = BFI_data.iloc[:,1:26]
BFI_data_dropped

       A1   A2   A3   A4   A5   C1   C2  ...   N4   N5   O1  O2   O3   O4   O5
0     2.0  4.0  3.0  4.0  4.0  2.0  3.0  ...  2.0  3.0  3.0   6  3.0  4.0  3.0
1     2.0  4.0  5.0  2.0  5.0  5.0  4.0  ...  5.0  5.0  4.0   2  4.0  3.0  3.0
2     5.0  4.0  5.0  4.0  4.0  4.0  5.0  ...  2.0  3.0  4.0   2  5.0  5.0  2.0
3     4.0  4.0  6.0  5.0  5.0  4.0  4.0  ...  4.0  1.0  3.0   3  4.0  3.0  5.0
4     2.0  3.0  3.0  4.0  5.0  4.0  4.0  ...  4.0  3.0  3.0   3  4.0  3.0  3.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ..  ...  ...  ...
2795  6.0  1.0  3.0  3.0  3.0  6.0  6.0  ...  NaN  1.0  6.0   1  6.0  6.0  1.0
2796  2.0  4.0  4.0  3.0  5.0  2.0  3.0  ...  3.0  3.0  6.0   3  5.0  4.0  2.0
2797  2.0  3.0  5.0  2.0  5.0  5.0  5.0  ...  3.0  1.0  5.0   1  6.0  4.0  3.0
2798  5.0  2.0  2.0  4.0  4.0  5.0  5.0  ...  4.0  1.0  5.0   2  5.0  5.0  1.0
2799  2.0  3.0  1.0  4.0  2.0  5.0  5.0  ...  1.0  1.0  3.0   1  3.0  5.0  1.0

[2800 rows x 25 columns]